* {
  padding: 0;
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;
}

body {
  width: 100%;
  background-image: url("/imgs/bg_1.jpg");
}

p {
  font-size: 16px;
  line-height: 25px;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 26px;
}

.fixing {
  content: "";
  display: table;
  clear: btoh;
}

.main-section {
  background: #fff;
  margin: 0 auto;
}

.main-footer {
  width: 100%;
  background: #6b76ff;
}

.main-footer2 {
  overflow: hidden;
  z-index: 1000;
  height: 60vh;
  background: #3333;
  width: 100%;
}

.main-header {
  width: 70%;
  margin: 0 auto;
}

.main-header .logo {
  display: inline-block;
  padding-top: 40px;
  font-size: 45px;
  font-weight: 500;
  font-family: 'Righteous', cursive;
  color: #fff;
}

.main-header .logo span {
  color: #ffb400;
}

.main-header .fixing {
  display: inline-block;
  float: right;
  padding-top: 50px;
}

.main-header .fixing ul {
  list-style: none;
}

.main-header .fixing ul li {
  display: inline-block;
}

.main-header .fixing ul li a {
  text-decoration: none;
  padding-right: 50px;
  font-size: 20px;
  font-weight: 800;
  color: #fff;
}

.main-header .fixing ul li a:hover {
  color: #ffb400;
}

.header-section {
  position: relative;
  width: 100%;
  height: 90vh;
}

.header-section .heading {
  position: absolute;
  top: 30%;
  right: 0;
}

.header-section .heading h1 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold';
  color: #fff;
  font-size: 74px;
  text-transform: uppercase;
  letter-spacing: 15px;
}

.header-section .heading .h-1 {
  font-size: 85px;
  letter-spacing: 7px;
}

.header-section .heading .h-2 {
  padding-bottom: 30px;
}

.header-section .header-btn {
  text-decoration: none;
  background: #111;
  color: #fff;
  padding: 15px 20px;
  border-radius: 2px;
  font-size: 16px;
  font-weight: 600;
}

.section1 {
  width: 70%;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1.5fr;
      grid-template-columns: 2fr 1.5fr;
}

.section1 .join-now {
  background-image: url("./imgs/about.jpg");
  background-size: cover;
  margin-top: -100px;
  padding: 40px 20px 40px 200px;
}

.section1 .join-now .join-now-box {
  padding-left: 120px;
}

.section1 .join-now .join-now-box h2 {
  line-height: 1.4;
  color: #000000;
  font-weight: 900;
  font-family: 'Patua One', cursive;
  font-size: 54px;
}

.section1 .join-now .join-now-box p {
  color: rgba(117, 117, 117, 0.8);
  padding: 20px 0;
}

.section1 .join-now .join-now-box .join-btn {
  background: #ffb400;
  text-decoration: none;
  padding: 10px 20px;
  color: #fff;
  font-weight: 600;
}

.section1 .donate-now {
  background: #1e1e1e;
  padding: 50px;
}

.section1 .donate-now h2 {
  color: #fff;
  text-transform: uppercase;
  font-weight: bolder;
  font-family: 'Patua One', cursive;
}

.section1 .donate-now strong {
  font-size: 40px;
  color: #525252;
}

.section1 .donate-now p {
  color: #ccc;
  padding: 15px 0 30px 0;
}

.section1 .donate-now .donate-btn {
  text-decoration: none;
  padding: 10px 20px;
  background: #000;
  color: #fff;
  font-weight: 600;
}

.section2 {
  width: 70%;
  margin: 0 auto;
  background: #ffb400;
  color: #fff;
}

.section2 .container-s2 {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

.section2 .container-s2 .s2-cards {
  text-align: center;
  padding: 40px 20px;
}

.section2 .container-s2 .s2-cards:hover {
  background: #ccc;
}

.section2 .container-s2 .s2-cards .fas {
  padding: 15px 0;
  font-size: 50px;
}

.section2 .container-s2 .s2-cards h3 {
  padding: 15px 0;
  font-weight: 800;
}

.section2 .container-s2 .nth-3 {
  background: #ccc;
}

.section2 .container-s2 .nth-3:hover {
  background: #ffb400;
}

.section3 {
  width: 70%;
  margin: 0 auto;
}

.section3 .s3-heading {
  width: 100%;
  text-align: center;
  padding: 100px 0;
}

.section3 .s3-heading h1 {
  color: rgba(10, 3, 3, 0.767);
  font-family: 'Patua One', cursive;
}

.section3 .s3-heading p {
  color: #999999;
  padding: 15px 0 0 0;
}

.section3 .gallery {
  margin-top: -75px;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section3 .gallery .gallery-card {
  text-align: center;
  -webkit-transition: all 400ms;
  transition: all 400ms;
  padding: 15px;
}

.section3 .gallery .gallery-card:hover {
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
}

.section3 .gallery .gallery-card img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.section3 .gallery .gallery-card h3 {
  font-family: 'Patua One', cursive;
  padding-bottom: 100px;
}

.footer1 {
  width: 70%;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: 450px;
      grid-template-rows: 450px;
}

.footer1 .footer-img {
  text-align: left;
}

.footer1 .footer-img img {
  width: 100%;
  margin-top: -160px;
}

.footer1 .footer-story {
  padding: 70px 0 0 20px;
}

.footer1 .footer-story h2 {
  color: #fff;
  font-family: 'Patua One', cursive;
  padding: 20px 0 50px 0;
}

.footer1 .footer-story p {
  color: #ccc;
}
/*# sourceMappingURL=main.css.map */
